<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Pentomino in GOLMI</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta name="description" content="Demo of a Pentomino interface build using the GOLMI framework">
    <meta name="author" content="clpresearch, Karla Friedrichs">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layer_style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pentomino.css') }}">
</head>

<body>
    <div class="ui segment" style="margin: 10px; display: flex">
        <div class="viewport" style="height: 600px; width: 600px; margin: auto;">
            <canvas id="background" width="600px" height="600px"></canvas>
            <canvas id="objects" width="600px" height="600px"></canvas>
            <canvas id="gripper" width="600px" height="600px"></canvas>
        </div>
    </div>


    <script>
        var room_id = "{{ room_id }}"
        console.log(room_id)
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>

    <script src="{{ url_for('RLenv.static', filename='js/View.js') }}"></script>
    <script src="{{ url_for('RLenv.static', filename='js/LayerView.js') }}"></script>
    <script src="{{ url_for('RLenv.static', filename='js/inspector.js') }}"></script>
</body>




</html>